<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  
  <system.webserver>
    <handlers>
      <remove name="aspnetcore"/>
      <add name="aspnetcore" path="*" verb="*" modules="aspnetcoremodule" resourcetype="unspecified"/>
    </handlers>
    <aspnetcore processpath="%launcher_path%" arguments="%launcher_args%" stdoutlogenabled="false" stdoutlogfile=".\logs\stdout" />

	  <!--Limit Upload-->
	  <!--*to 1GB=1073741824-->
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="1073741824" />
		  </requestFiltering>
	  </security>
	  <!--/ Limit Upload-->
  </system.webserver>
  

</configuration>